# Fichiers de compilation Visual Studio
.vs/
*.sln.docstates
*.user
*.VC.db
*.VC.VC.opendb

# Fichiers de sortie de compilation
Debug/
Release/
x64/
x86/
*.o
*.obj
*.exe
*.dll
*.lib
*.exp

# Fichiers temporaires
*.tmp
*.pdb
*.ilk

# Fichiers IDE
.vscode/
.idea/

# Autres
.DS_Store
Thumbs.db
